<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Contact US</h1>
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" label="Save">
    </form>

    <p></p>
    <table border="1">

        <tr>
            <td>Fullname</td>
            <td>Email</td>
            <td>Phome</td>
        </tr>

        {%for reg in data %}
        <tr>
            <td>{{reg.fullmame}}</td>
            <td>{{reg.email}}</td>
            <td>{{reg.pho}}</td>
        </tr>
        {%endfor%}

    </table>
    </p>

    <p>Values
        {{values}}

    </p>
    <p>Values selected
        {{values_selected}}

    </p>

    <p>
        value_single
        {{value_single}}
    </p>
    <p>Values list
        {{value_list}}

    </p>
    <p>
        value_single_list
        {{value_single_list}}
    </p>
    <p>
        filter single condition
        {{filter}}
    </p>
    <p>
        filterwithselectedcol
        {{filterwithselectedcol}}
    </p>
    <p>
        filterDouble
        {{filterDouble}}
    </p>
    <p>
        Filter with exact
        {{email__exact}}
    </p>
    <p>
        email_contains
        {{email_contains}}
    </p>
    <p>
        in condition
        {{incondi}}
    </p>
    <p>
        offset
        {{offset}}
    </p>
</body>

</html>