<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Contact US</h1>
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" label="Save">
    </form>
    <table border="1">

        <tr>
            <td>Fullname</td>
            <td>Email</td>
            <td>Phome</td>
        </tr>

        {%for reg in data %}
        <tr>
            <td>{{reg.fullmame}}</td>
            <td>{{reg.email}}</td>
            <td>{{reg.pho}}</td>
        </tr>
        {%endfor%}

    </table>
</body>

</html>